*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#00509e;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    margin:10px 20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(to right,#0077cc,#00aaff);
    color:white;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:white;
    color:#0077cc;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px;
}

section{
    padding:40px;
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#003366;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
    text-align:center;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
}